<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> Peerlift </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/scholarship_guides"> Opportunities <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> About us </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Something else </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/auth/google_oauth2">Sign in</a>
                    <a class="dropdown-item" href="/me">My Overview</a>
                    <a class="dropdown-item" href="#">My Scholarships</a>
                    <a class="dropdown-item" href="#">My Task</a>
                    <a class="dropdown-item" href="#">My Files</a>
                    <a class="dropdown-item"> <%= button_to 'Log Out', destroy_path, method: :post if current_user %> </a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid text-center">
    <img src="../images/frontpage.png" style="height: 25%">

<!-- <a href="/auth/google_oauth2">Sign in with Google</a>
</br>
<%= button_to 'Sign In / Sign Up', login_path, method: :get if current_user.nil? %>
<%= button_to 'Log Out', destroy_path, method: :post if current_user %>
</br> -->
  <div class="row">
    <div class="col-md-4" style="">
        <a href="/scholarship_guides">
          <img src="../images/scholarship_icon.png" href="/scholarship_guides"> </a>
        </div>
    <div class="col-md-4" style="">
        <a data-toggle="modal" data-target="#exampleModalCenter">
          <img src="../images/add_scholarship_icon.png"> </a>
        </div>
        <div class="col-md-4" style="">
        <a data-toggle="modal" data-target="#exampleModalCenter">
          <img src="../images/awards.png"> </a>
        </div>
    </div>


<hr>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add An Opportunity
</button>
 -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Opportunities</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Add your own opportunity to Peerlift
          <p>This <a href="" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover sbody content is set in this attribute.">button</a> triggers a popover on click.</p>
          <%= form_for ScholarshipGuide.new do |form| %>
            <p>
              <%= form.label :Opportunity_Details %><br>
              <%= form.text_field :program_name %>
            </p>

            <p>
              <%= form.submit "Submit"%>
            </p>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
 <div class="col-sm-offset-5 col-sm-4 ">
<h4> My Overview </h4>
                <table class="table table-hover table-bordered">
                    <thead>
                   
                        <% if current_user %> <% current_user.attributes.each do |k, v| %>
                        <tr> <th scope="row"><%= k %>:</th> <td> <%= v %> </td> </tr>
            <% end %>
            <% end %>

                    </thead>
                </table>
            </div>
          </div>
        </div>
</div>

<br>


