<%= form_with(model: file_upload, local: true) do |form| %>
  <% if file_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file_upload.errors.count, "error") %> prohibited this file_upload from being saved:</h2>

      <ul>
      <% file_upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :given_name %>
    <%= form.text_field :given_name %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.text_field :attachment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
