<p id="notice"><%= notice %></p>

<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New File Upload", new_file_upload_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>User Id</th>
         <th>Given Name</th>
         <th>Download Link</th>
         <th>File Name</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @file_uploads.each do |file_upload| %>

         <tr>
            <td><%= file_upload.user_id %></td>
            <td><%= file_upload.given_name %></td>
            <td><%= link_to "Download Resume", file_upload.attachment_url %></td>
            <td><%= file_upload.attachment %>
            <td><%= button_to "Delete",  file_upload, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{file_upload.given_name}?" %></td>
         </tr>

      <% end %>
   </tbody>

</table>
