<h1>New File Upload</h1>

<% if !@file_upload.errors.empty? %>
   <div class = "alert alert-error">

      <ul>
         <% @file_upload.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>

   </div>
<% end %>

<div class = "well">
   <%= form_for @file_upload, html: { multipart: true } do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :name %>
      <%= f.text_field :given_name %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= collection_select(:file_upload, :user_id, User.all, :id, :first_name, {include_blank: 'None'}, {:multiple => false }) %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>
