<%= form_for(@user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field" style="color: black;">
    <%= form.label :school,  "School name" %> 
    <%= form.text_field :school %>
  </div>

  <div class="field" style="color: black;">
    <%= form.label "Grade Level" %> 
    <%= form.text_field :grade %>
  </div>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>

<% end %>
