<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<p>
  <strong>Grad year:</strong>
  <%= @user.grad_year %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @user.integer %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @user.grade %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @user.integer %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
