<%= render partial: 'partials/navbar2' %>
<br>
<br>

<h1 style="text-align: center;margin-left:auto;margin-right:auto;width:300px"> Hello, <%= current_user.first_name %>! </h1>

<br>
<br>  

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <h4> Dashboard </h4>
            <div class="list-group">
                <a href="#account" class="list-group-item list-group-item-action list-group-item-default">Me</a>
                <a href="#application" class="list-group-item list-group-item-action list-group-item-default">My Applications</a>
                <a href="#favorites" class="list-group-item list-group-item-action list-group-item-default">My Favorites</a>
                <a href="#tasks" class="list-group-item list-group-item-action list-group-item-default"> My Tasks </a>
            </div>
        </div>

 <div class="col-sm-8">

<h4 align="left" id="account"> My Account </h4>

          
              <table class="table table-sm table-hover table-bordered">
                <thead>
              <% if current_user %>
            <tr>
              <td scope="row"> Name </td>
              <td> <%= current_user.first_name %> <%= current_user.last_name %> </td>
              </tr>

              <tr>
              <td scope="row"> Email </td>
              <td> <%= current_user.email %> </td>
              </tr>

              <tr>
              <td scope="row"> School </td>
              <td> <%= current_user.school %> </td>
              </tr>

              <tr>
              <td scope="row"> Grade </td>
              <td> <%= current_user.grade %> </td>
              </tr>

              <tr>
              <td scope="row">  </td>
              <td> <%= link_to 'Edit', edit_user_path(current_user) %> </td>
              </tr>

              <% end %>
            </thead>
          </table>


<div>
  <h4 align="left" id="application"> My Applications </h4>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th> See Tasks </th>
      <th>Scholarship Name</th>
      <th>Current status</th>
    </tr>
  </thead>
  <tbody>
    
      <% @started_scholarships.each do |startedscholarship| %>

      <% if startedscholarship.aasm_state == "in_progress" %>
        <tr class="table-warning" data-toggle="collapse" data-target=".order<%= startedscholarship.id %>">
          <% end %>
          <% if startedscholarship.aasm_state == "completed" %>


        <tr class="table-success" data-toggle="collapse" data-target=".order<%= startedscholarship.id %>">
          <% end %>
          <% if startedscholarship.aasm_state == "submitted" %>


        <tr class="table-success" data-toggle="collapse" data-target=".order<%= startedscholarship.id %>">
          <% end %>

          <td> + </td>

          <td><a href="/scholarship_guides/<%= startedscholarship.scholarship_guide_id %>"><%= startedscholarship.scholarship_name %></a></td>


          <% if startedscholarship.aasm_state == "in_progress" %>
          <td> In Progress </td>
            <td><%= button_to 'Complete?', complete_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id), :class => 'btn btn-warning' %></td>
          <% end %>


          <% if startedscholarship.aasm_state == "completed" %>
          <td> Completed </td>
            <td><%= button_to 'Submit', submit_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id), :class => 'btn btn-success' %></td>
            <td><%= button_to 'Back to In Progress', incomplete_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id), :class => 'btn btn-warning' %></td>
          <% end %>


          <% if startedscholarship.aasm_state == "submitted" %>
          <td> Submitted </td>
            <td><%= button_to 'Unsubmit', unsubmit_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id), :class => 'btn btn-danger' %></td>
          <% end %>


          <td><%= button_to 'Delete Application', unstart_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id), method: :delete, :class => 'btn btn-danger' %></td>
        </tr>

      <thead class="order<%= startedscholarship.id %> collapse">
          <th>  </th>
          <th> Description </th>
          <th> Download </th>
          <th> Add a file </th>
          <th> Save </th>
          <th> Finish </th>
        </thead>

        <% @tasks.each do |task| %>
                  <% if task.scholarship_id == startedscholarship.scholarship_guide_id %>

            <tr class="order<%= startedscholarship.id %> collapse">
              <td> </td>
              <td><%= task.text %></td>
              
              <% if task.file %>                
                <td><%= button_to "Download File", task.file, :class => "btn btn-primary" %></td>                     
              <% end %>

              <%= form_for task, :url => {:controller => "user_task_items", :action => "add_file"}, :html => {:method => :patch, :class => 'form-horizontal'} do |f| %>
              <% if !task.file %>
              <td> </td>
              <% end %>
                            <td><%= select_tag( :file_id, options_for_select(@files, task.file_id), prompt: "Choose File" ) %></td>
                <%= hidden_field_tag "user_id", current_user.id %>
                <%= hidden_field_tag "id", task.id %>
                <td><%= f.submit 'Okay'%></td>
              <% end %>
            </td>
              <% if task.status == "in_progress" %>
                <td><%= button_to 'Complete Task', complete_user_task_path(user_id: current_user.id, id: task.id) %></td>
              <% end %>
              <% if task.status == "completed" %>
                <td><%= button_to 'Back to In Progress', incomplete_user_task_path(user_id: current_user.id, id: task.id) %></td>
              <% end %>
            </tr>
          <% end %>


        <% end %>
      <% end %>
  </tbody>
</table>


  <h4 align="left" id="favorites">My Favorites</h4>

  <div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Scholarship Name</th>
      <th> Status </th>
      <th> Remove </th>
    </tr>
  </thead>
  <tbody>
      <% @saved_scholarships.each do |savedscholarship| %>
        <tr>
          <td><a href="/scholarship_guides/<%= savedscholarship.scholarship_guide_id %>"><%= savedscholarship.scholarship_name %></a> </td>
          <td><%= button_to 'Start Scholarship', scholarship_start_path(user_id: current_user.id, scholarship_guide_id: savedscholarship.scholarship_guide_id, scholarship_name: savedscholarship.scholarship_name, status: 1), :class => 'btn btn-success' %></td>
          <td><%= button_to 'Unfavorite', unsave_scholarship_me_saved_path(user_id: current_user.id, scholarship_guide_id: savedscholarship.scholarship_guide_id), method: :delete, :class => 'btn btn-warning' %></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>

<h4 align="left" id="tasks">Tasks</h4>

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th class="col-5">Task </th>
         <th> </th>
         <th>Add a File</th>
         <th>Submit</th>
         <th>Status</th>
      </tr>
   </thead>

   <tbody>
    <% @started_scholarships.each do |startedscholarship| %>
       <% @tasks.each do |task| %>
          <% if task.scholarship_id == startedscholarship.scholarship_guide_id %>
            <tr>
              <td class="col-5""><%= task.text %></td>
              <% if task.file %>
                <td><%= button_to "Download", task.file, :class => "btn btn-primary" %></td>
              <% end %>
              <% if !task.file %>
              <td> </td>
              <% end %>

              <%= form_for task, :url => {:controller => "user_task_items", :action => "add_file"}, :html => {:method => :patch, :class => 'form-horizontal'} do |f| %>
                <td><%= select_tag( :file_id, options_for_select(@files, task.file_id), prompt: "Choose File" ) %></td>
                <%= hidden_field_tag "user_id", current_user.id %>
                <%= hidden_field_tag "id", task.id %>
                <td><%= f.submit 'Okay', :class => "btn btn-default" %></td>
              <% end %>
            </td>
              <% if task.status == "in_progress" %>
                <td><%= button_to 'Complete Task', complete_user_task_path(user_id: current_user.id, id: task.id), :class => "btn btn-success" %></td>
              <% end %>
              <% if task.status == "completed" %>
                <td><%= button_to 'Back to In Progress', incomplete_user_task_path(user_id: current_user.id, id: task.id), :class => "btn btn-primary" %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        <% end %>
   </tbody>

</table>


</div>
            </div>
<div class="col-sm-2 sidenav">
  <div style="max-height: 200px; overflow-y: scroll">

    <h4> To do </h4>
            
            <div class="list-group">
              <% @started_scholarships.each do |startedscholarship| %>
       <% @tasks.each do |task| %>
          <% if task.scholarship_id == startedscholarship.scholarship_guide_id %>
                
                <% if task.status == "completed" %>
                <div class="list-group-item list-group-item-action list-group-item-default bg-success"><%= task.text %> </div>
                <% end %>
                
                <% if task.status == "in_progress" %>
                <div class="list-group-item list-group-item-action list-group-item-default bg-warning"><%= task.text %> </div>
                
                <% end %>
                <% end %>
                 <% end %>
                 <% end %>

</div>
            </div>
          </div>

















<!-- 
<div>
  <h4>My Saved Scholarships:</h4>

<table class="table table-hover col-md-6 offset-md-3">
  <thead>
    <tr>
      <<th>User ID</th>
      <th>Scholarship ID</th>
      <th>Scholarship Name</th>
    </tr>
  </thead>
  <tbody>
      <% @saved_scholarships.each do |savedscholarship| %>
        <tr>
          <td><%= savedscholarship.user_id %></td>
          <td><%= savedscholarship.scholarship_guide_id %></td>
          <td><a href="/scholarship_guides/<%= savedscholarship.scholarship_guide_id %>"><%= savedscholarship.scholarship_name %></a></td>
          <td><%= button_to 'Start Scholarship', scholarship_start_path(user_id: current_user.id, scholarship_guide_id: savedscholarship.scholarship_guide_id, scholarship_name: savedscholarship.scholarship_name, status: 1) %></td>
          <td><%= button_to 'Unsave from my Profile', unsave_scholarship_me_saved_path(user_id: current_user.id, scholarship_guide_id: savedscholarship.scholarship_guide_id), method: :delete %></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>

<div>
  <h4>Scholarships I'm Doing:</h4>

<table class="table table-hover col-md-6 offset-md-3">
  <thead>
    <tr>
      <<th>User ID</th>
      <th>Scholarship ID</th>
      <th>Scholarship Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
      <% @started_scholarships.each do |startedscholarship| %>
        <tr>
          <td><%= startedscholarship.user_id %></td>
          <td><%= startedscholarship.scholarship_guide_id %></td>
          <td><a href="/scholarship_guides/<%= startedscholarship.scholarship_guide_id %>"><%= startedscholarship.scholarship_name %></a></td>
          <td><%= startedscholarship.status %></td>
          <% if startedscholarship.aasm_state == "in_progress" %>
            <td><%= button_to 'Complete', complete_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id) %></td>
          <% end %>
          <% if startedscholarship.aasm_state == "completed" %>
            <td><%= button_to 'Submit', submit_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id) %></td>
            <td><%= button_to 'Back to In Progress', incomplete_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id) %></td>
          <% end %>
          <% if startedscholarship.aasm_state == "submitted" %>
            <td><%= button_to 'Unsubmit', unsubmit_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id) %></td>
          <% end %>
          <td><%= button_to 'No longer doing this scholarship', unstart_path(user_id: current_user.id, scholarship_guide_id: startedscholarship.scholarship_guide_id), method: :delete %></td>
        </tr>
        <% @tasks.each do |task| %>
          <% if task.scholarship_id == startedscholarship.id %>
            <tr>
              <td><%= task.text %></td>
              <% if task.file %>
                <td><%= link_to "Download File", task.file %></td>
              <% end %>
              <td><%= form_for task, :url => {:controller => "user_task_items", :action => "add_file"}, :html => {:method => :patch, :class => 'form-horizontal'} do |f| %>
                <td><%= select_tag( :file_id, options_for_select(@files, task.file_id), prompt: "Choose File" ) %></td>
                <%= hidden_field_tag "user_id", current_user.id %>
                <%= hidden_field_tag "id", task.id %>
                <td><%= f.submit 'Okay'%></td>
              <% end %>
            </td>
              <% if task.status == "in_progress" %>
                <td><%= button_to 'Complete Task', complete_user_task_path(user_id: current_user.id, id: task.id) %></td>
              <% end %>
              <% if task.status == "completed" %>
                <td><%= button_to 'Back to In Progress', incomplete_user_task_path(user_id: current_user.id, id: task.id) %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
  </tbody>
</table>
</div>
</div>  -->

