<p id="notice"><%= notice %></p>

<h1>User Tasks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Scholarship</th>
      <th>Scholarship name</th>
      <th>Essay count</th>
      <th>Transcript count</th>
      <th>Test score count</th>
      <th>Test subjects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tasks.each do |user_task| %>
      <tr>
        <td><%= user_task.user_id %></td>
        <td><%= user_task.scholarship_id %></td>
        <td><%= user_task.scholarship_name %></td>
        <td><%= user_task.essay_count %></td>
        <td><%= user_task.transcript_count %></td>
        <td><%= user_task.test_score_count %></td>
        <td><%= user_task.test_subjects %></td>
        <td><%= link_to 'Show', user_task %></td>
        <td><%= link_to 'Edit', edit_user_task_path(user_task) %></td>
        <td><%= link_to 'Destroy', user_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Task', new_user_task_path %>
